<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1> This is hoamepage </h1>
<p>If you want to go to the About page click this link <%= link_to "About", welcome_about_path %> .</p>
</body>
</html>
